.paper {
    padding: 10px;
    margin: 5px auto;
}

.cardTitle {
    font-size: 17px;
}

.ratingLine {
    margin: 5px auto;
}

.ratingLabel {

}

.reviewCount {
    margin-left: 10px;
    font-size: 60%;
}

.adjustRatingLine {
    position: relative;
    top: -4px;
}

.thumbnailContainer {
    text-align: center;
}

.thumbnail {
    width: 49%;
    margin: 0.4%;
}

.prText {
    margin-top: 5px;
    margin-bottom: 9px;
    font-size: 80%;
    line-height: 1.3;
}
