/* 共通部分 */
.bottomNavIcon {
  margin: 0 auto;
}


/* TOP */
/* 左右の余白 */
.leftAndRightMargin {
  margin-left: 10px;
  margin-right: 10px;
}

.rstName {
  color: #111111;
  font-size: 114%;
  text-shadow: 0 1px 1px #ffffff;
  padding: 15px 0 10px;
}

.topPageFiveStar {
  margin-bottom: 10px;
}

.paperHeader {
  background-color: #FCF9E7 !important;
  padding: 15px 0 15px 15px;
}

.gridListContainer {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gridList {
  max-width: 500px;
  margin: 0 auto;
}

.readMore {
  text-align: center;
  margin: 15px auto;
}
