html {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/**
 * [EnhancedButton] Should not apply type="button" when not rendering a <button> element
 * maybe should use autoprefixer... ?
 *https://github.com/callemall/material-ui/issues/4008
 */
div[type=button],
span[type=button],
a[type=button] {
  -webkit-appearance: none;
}


:global .base-paper {
    padding: 20px;
    display: inline-block;
    width: 100%;
}
