html {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/**
 * [EnhancedButton] Should not apply type="button" when not rendering a <button> element
 * maybe should use autoprefixer... ?
 *https://github.com/callemall/material-ui/issues/4008
 */
button[type=button],
div[type=button],
span[type=button],
a[type=button] {
    -webkit-appearance: none;
}

/* this is needed for safari on pc... */
div {
    -webkit-appearance: none !important;
}

:global .base-paper {
    padding: 20px;
    display: inline-block;
    width: 100%;
}


/**
 * Transition animation
 */
/*:global .animated-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

:global .example-enter {
    opacity: .01;
    transform: scale(0.1);
    transition: all 1.0s ease-out;
}

:global .example-enter.example-enter-active {
    opacity: 1;
    transform: scale(1);
}

:global .example-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 1.0s ease-out;
}

:global .example-leave.example-leave-active {
    opacity: 0;
    transform: scale(0.1);
}*/
