.pageContainer {
    margin-bottom: 100px;
}

.fixedBottom {
    position: fixed;
    bottom: 20px;
    left: 3%;
    width: 94%;
}

.formContainer {
    margin: 15px auto;
    width: 90%;
}

.areaAndGenre {
    margin-bottom: 20px;
}

.mapsIcon {
    margin-right: 15px;
    display: inline !important;
}

.textField {
    width: 80% !important;
}
