.paper {
    padding: 0;
    text-align: center;
}

.textField {
    width: 36% !important;
    font-size: 12px !important;
}

.mapsIcon {
    margin-right: 2px;
    width: 17px !important;
    height: 17px !important;
}
