.fixedBottom {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.raisedButton {
    position: relative;
    width: 75%;
    float: left;
    margin-left: 3%;
}

.floatButton {
    position: relative;
    float: right;
    margin-right: 3%;
}

.conditionBox {
    border-radius: 2px;
    background-color: rgba(71, 66, 64, 0.8);
    width: 80%;
}

.conditionBoxText {
    display: inline-block;
    overflow: hidden;
    color: #ffffff;
    font-size: 86%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
