.paper {
    padding: 15px;
    margin: 1px 1px;
    /* for grid layout */
    height: 100%;
}

.cardTitle {
    font-size: 17px;
}

.ratingLine {
    margin: 5px auto;
}

.thumbnailContainer {
    text-align: center;
}

.thumbnail {
    width: 49%;
    margin: 0.4%;
}

.prText {
    margin-top: 5px;
    margin-bottom: 9px;
    font-size: 80%;
    line-height: 1.3;
}
